/****** Object:  Schema [rtds]    Script Date: 9/06/2026 13:36:39 ******/
CREATE SCHEMA [rtds]
GO
/****** Object:  Table [rtds].[ConfigHistory]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[ConfigHistory](
	[ConfigHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[SourceID] [varchar](50) NOT NULL,
	[OperationKey] [nvarchar](255) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[PublishDateUTC] [datetime2](3) NOT NULL,
	[EndDateUTC] [datetime2](3) NULL,
 CONSTRAINT [PK_ConfigHistory] PRIMARY KEY CLUSTERED 
(
	[ConfigHistoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [rtds].[FlowLog]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rtds].[FlowLog] AS
WITH [CH] AS (
	SELECT [ConfigHistoryID], [SourceID], [OperationKey], [Data]
		,SUBSTRING([Data],CHARINDEX('"Type"',[Data],0)+8,CHARINDEX('"',[Data],CHARINDEX('"Type"',[Data],0)+8)-(CHARINDEX('"Type"',[Data],0)+8)) [Type]
		,SUBSTRING([Data],CHARINDEX('"Name"',[Data],0)+8,CHARINDEX('"',[Data],CHARINDEX('"Name"',[Data],0)+8)-(CHARINDEX('"Name"',[Data],0)+8)) [Name]
		,SUBSTRING([Data],CHARINDEX('"Params"',[Data],0)+9,LEN([Data])-(CHARINDEX('"Params"',[Data],0)+9)) [Parameters]
    		,[PublishDateUTC]
    		,ISNULL([EndDateUTC], GETUTCDATE()) [EndDateUTC]
    FROM [rtds].[ConfigHistory]
	)

SELECT [FL].[InteractionIdKey], [FL].[SeqId], [FL].[StartDateTimeUTC], [FL].[SourceID], [FL].[OperationKey]
	, [CH].[Type], [CH].[Name], [FL].[Data], [CH].[Parameters]
FROM [rtds].[FlowLogging] [FL]
	JOIN [CH] ON [FL].[SourceID] = [CH].[SourceID] 
		AND [FL].[OperationKey] = [CH].[OperationKey] 
		AND [FL].[StartDateTimeUTC] >= [CH].[PublishDateUTC] 
		AND [FL].[StartDateTimeUTC] < [CH].[EndDateUTC] 

GO
/****** Object:  Table [rtds].[Dic_Attribute]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_Attribute](
	[DicAttributeID] [int] IDENTITY(1,1) NOT NULL,
	[DicOperationTypeID] [int] NOT NULL,
	[DicAttributeTypeID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsNext] [bit] NOT NULL,
	[IsDisplayed] [bit] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_Attribute] PRIMARY KEY NONCLUSTERED 
(
	[DicAttributeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Dic_OperationType]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_OperationType](
	[DicOperationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_OperationType] PRIMARY KEY NONCLUSTERED 
(
	[DicOperationTypeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Attribute]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Attribute](
	[AttributeID] [int] IDENTITY(1,1) NOT NULL,
	[DicAttributeID] [int] NOT NULL,
	[OperationID] [int] NOT NULL,
	[Value] [varchar](512) NOT NULL,
	[IsDisplayed] [bit] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Attribute] PRIMARY KEY NONCLUSTERED 
(
	[AttributeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Operation]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Operation](
	[OperationID] [int] IDENTITY(1,1) NOT NULL,
	[RoutingTableID] [int] NOT NULL,
	[DicOperationTypeID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Key] [nvarchar](255) NULL,
	[IsFirstOperation] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Operation] PRIMARY KEY NONCLUSTERED 
(
	[OperationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[RoutingTable]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[RoutingTable](
	[RoutingTableID] [int] IDENTITY(1,1) NOT NULL,
	[SourceID] [varchar](50) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[CompanyProjectID] [int] NOT NULL,
	[PromptLibraryID] [int] NOT NULL,
	[SupportedLanguages] [varchar](50) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_RoutingTable] PRIMARY KEY NONCLUSTERED 
(
	[RoutingTableID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rtds].[Mutations]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rtds].[Mutations]
AS
SELECT rt.SourceID
	,rt.Name	AS [RTName]
	,o.Name	AS [OperationName]
	,ot.Name	AS [Type]
	,aty.Name	AS [Attribute]
	,a.Value	AS [Value]
FROM rtds.RoutingTable rt
	INNER JOIN rtds.Operation o ON o.RoutingTableID = rt.RoutingTableID
		INNER JOIN rtds.Dic_OperationType ot ON o.DicOperationTypeID = ot.DicOperationTypeID
		INNER JOIN rtds.Attribute a ON o.OperationID = a.OperationID
			INNER JOIN rtds.Dic_Attribute aty ON a.DicAttributeID = aty.DicAttributeID
GO
/****** Object:  Table [rtds].[PromptLibrary]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[PromptLibrary](
	[PromptLibraryID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyProjectID] [int] NOT NULL,
	[BasePath] [varchar](255) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_PromptLibrary] PRIMARY KEY NONCLUSTERED 
(
	[PromptLibraryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Dic_CompanyProject]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_CompanyProject](
	[CompanyProjectID] [int] NOT NULL,
	[IAConfigCustomerName] [nvarchar](255) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateCreated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_CompanyProjectID] PRIMARY KEY CLUSTERED 
(
	[CompanyProjectID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rtds].[DsTree]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rtds].[DsTree] 
AS
WITH [RTCPP] AS (
	SELECT rt.[RoutingTableID] 
		,rt.[SourceID]
		,rt.[Name] 
		,cp.[CompanyProjectID] [ProjectId]
		,cp.[IAConfigCustomerName] [ProjectName]
		,pl.[BasePath] [PromptLibrary]
		,rt.[SupportedLanguages]
		,rt.[DateCreated]
		,rt.[DateUpdated]
	FROM [rtds].[RoutingTable] rt
		INNER JOIN [rtds].[Dic_CompanyProject] cp ON rt.[CompanyProjectID] = cp.[CompanyProjectID]
		INNER JOIN [rtds].[PromptLibrary] pl ON rt.[PromptLibraryID] = pl.[PromptLibraryID]
)
,[RT] AS (
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate]
	FROM ( 
		SELECT [RTCPP].[SourceId] [SourceId]
			,'\RoutingTable\' + [RTCPP].[SourceID] [Path]
			,CAST([RTCPP].[Name] AS VARCHAR) [Name]
			,CAST([OP].[Key] AS VARCHAR) [FirstOperationID]
			,CAST([RTCPP].[ProjectId] AS VARCHAR) [ProjectId]
			,CAST([RTCPP].[ProjectName] COLLATE SQL_Latin1_General_CP1_CI_AS AS VARCHAR) [ProjectName]
			,CAST([RTCPP].[PromptLibrary] AS VARCHAR) [PromptLibrary]
			,CAST([RTCPP].[SupportedLanguages] AS VARCHAR) [SupportedLanguages]
			,ISNULL([RTCPP].[DateUpdated], [RTCPP].[DateCreated]) [MutationDate]
		FROM [RTCPP]
			INNER JOIN [rtds].[Operation] [OP] on [OP].[RoutingTableID] = [RTCPP].[RoutingTableID]
		WHERE [OP].[IsFirstOperation] = 1
		) p
	UNPIVOT ([Value] FOR [Attribute] 
			IN ([Name],[FirstOperationID],[ProjectId],[ProjectName],[PromptLibrary],[SupportedLanguages])
		) unpvt

	)
,[OP] AS (
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate]
	FROM (
		SELECT [RT].[SourceId] [SourceId]
			,'\RoutingTable\' + [RT].[SourceId] + '\' + [OP].[Key] [Path]
			,[DOP].[Name] [Type]
			,[OP].[Name]
			,ISNULL([OP].[DateUpdated], [OP].[DateCreated]) [MutationDate]
		FROM [rtds].[Operation] [OP]
			JOIN [rtds].[RoutingTable] [RT] ON [OP].[RoutingTableID] = [RT].[RoutingTableID]
				JOIN [rtds].[Dic_OperationType] [DOP] ON [OP].[DicOperationTypeID] = [DOP].[DicOperationTypeID]
		) p
	UNPIVOT ([Value] FOR [Attribute] IN ([Name],[Type])) unpvt
	)
,[AT] AS (
	SELECT [RT].[SourceId] [SourceId]
		,'\RoutingTable\' + [RT].[SourceId] + '\' + [OP].[Key] [Path]
		,[DAT].[Name] [Attribute]
		,[AT].[Value] [Value]
		,ISNULL([AT].[DateUpdated], [AT].[DateCreated]) [MutationDate] 
	FROM [rtds].[Attribute] [AT]
		JOIN [rtds].[Operation] [OP] ON [AT].[OperationID] = [OP].[OperationID]
			JOIN [rtds].[RoutingTable] [RT] ON [OP].[RoutingTableID] = [RT].[RoutingTableID]
		JOIN [rtds].[Dic_Attribute] [DAT] ON [AT].[DicAttributeID] = [DAT].[DicAttributeID]
)
,[ALL] AS (
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [RT]
	UNION
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [OP]
	UNION
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [AT]
)

SELECT * FROM [ALL]
GO
/****** Object:  Table [rtds].[Dic_PromptLanguage]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_PromptLanguage](
	[DicPromptLanguageID] [int] IDENTITY(1,1) NOT NULL,
	[Key] [varchar](5) NOT NULL,
	[Language] [varchar](50) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_PromptLanguage] PRIMARY KEY NONCLUSTERED 
(
	[DicPromptLanguageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Prompt]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Prompt](
	[PromptID] [int] IDENTITY(1,1) NOT NULL,
	[PromptLibraryID] [int] NOT NULL,
	[DicPromptApplicationID] [int] NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsDisplayed] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Prompt] PRIMARY KEY NONCLUSTERED 
(
	[PromptID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[PromptVersion]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[PromptVersion](
	[PromptVersionID] [int] IDENTITY(1,1) NOT NULL,
	[PromptID] [int] NOT NULL,
	[DicPromptLanguageID] [int] NOT NULL,
	[Path] [varchar](255) NULL,
	[Text] [varchar](max) NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_PromptVersion] PRIMARY KEY NONCLUSTERED 
(
	[PromptVersionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [rtds].[DsTree_Mattias]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [rtds].[DsTree_Mattias] 
AS
WITH [RTCPP] AS (
	SELECT rt.[RoutingTableID]
		,rt.[PromptLibraryID]
		,rt.[SourceID]
		,rt.[Name]
		,cp.[CompanyProjectID]      [ProjectId]
		,cp.[IAConfigCustomerName]  [ProjectName]
		,pl.[BasePath]              [PromptLibrary]
		,rt.[SupportedLanguages]
		,rt.[DateCreated]
		,rt.[DateUpdated]
	FROM [rtds].[RoutingTable] rt
		INNER JOIN [rtds].[Dic_CompanyProject]	cp ON rt.[CompanyProjectID] = cp.[CompanyProjectID]
		INNER JOIN [rtds].[PromptLibrary]		pl ON rt.[PromptLibraryID]  = pl.[PromptLibraryID]
)
,[RT] AS (
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate]
	FROM ( 
		SELECT [RTCPP].[SourceId]					[SourceId]
			,'\RoutingTable\' + [RTCPP].[SourceID]		[Path]
			,CAST([RTCPP].[Name] AS VARCHAR)			[Name]
			,CAST([OP].[Key] AS VARCHAR)				[FirstOperationID]
			,CAST([RTCPP].[ProjectId] AS VARCHAR)		[ProjectId]
			,CAST([RTCPP].[ProjectName] COLLATE SQL_Latin1_General_CP1_CI_AS AS VARCHAR) [ProjectName]
			,CAST([RTCPP].[PromptLibrary] AS VARCHAR)		[PromptLibrary]
			,CAST([RTCPP].[SupportedLanguages] AS VARCHAR)	[SupportedLanguages]
			,ISNULL([RTCPP].[DateUpdated], [RTCPP].[DateCreated]) [MutationDate]
		FROM [RTCPP]
			INNER JOIN [rtds].[Operation] [OP] on [OP].[RoutingTableID] = [RTCPP].[RoutingTableID]
		WHERE [OP].[IsFirstOperation] = 1
		) p
	UNPIVOT ([Value] FOR [Attribute] 
			IN ([Name],[FirstOperationID],[ProjectId],[ProjectName],[PromptLibrary],[SupportedLanguages])
		) unpvt

	)
,[OP] AS (
	SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate]
	FROM (
		SELECT [RTCPP].[SourceId]							[SourceId]
			,'\RoutingTable\' + [RTCPP].[SourceId] + '\' + [OP].[Key]	[Path]
			,[DOP].[Name]								[Type]
			,[OP].[Name]								[Name]
			,ISNULL([OP].[DateUpdated], [OP].[DateCreated])			[MutationDate]
		FROM [RTCPP]
			JOIN [rtds].[Operation] [OP] ON [OP].[RoutingTableID] = [RTCPP].[RoutingTableID]
				JOIN [rtds].[Dic_OperationType] [DOP] ON [OP].[DicOperationTypeID] = [DOP].[DicOperationTypeID]
    ) p
    UNPIVOT ([Value] FOR [Attribute] IN ([Name], [Type])) unpvt
	)
,[AT] AS (
	SELECT [RTCPP].[SourceId]							[SourceId]
		,'\RoutingTable\' + [RTCPP].[SourceId] + '\' + [OP].[Key]	[Path]
		,[DAT].[Name]								[Attribute]
		,[AT].[Value]								[Value]
		,ISNULL([AT].[DateUpdated], [AT].[DateCreated])			[MutationDate] 
	FROM [RTCPP]
		JOIN [rtds].[Operation] [OP] ON [OP].[RoutingTableID] = [RTCPP].[RoutingTableID]
			JOIN [rtds].[Attribute] [AT] ON [AT].[OperationID] = [OP].[OperationID]
				JOIN [rtds].[Dic_Attribute] [DAT] ON [AT].[DicAttributeID] = [DAT].[DicAttributeID]
)
,[TTS] AS (
	SELECT [RTCPP].[SourceId]							[SourceId]
		,'\RoutingTable\' + [RTCPP].[SourceId] + '\' + [OP].[Key]	[Path]
		,'TtsMessages'								[Attribute]
		,(SELECT MAX(CASE WHEN [DL].[Key] = 'NL' THEN [PV2].[Text] END) [NL],
			MAX(CASE WHEN [DL].[Key] = 'FR' THEN [PV2].[Text] END) [FR],
			MAX(CASE WHEN [DL].[Key] = 'DE' THEN [PV2].[Text] END) [DE],
			MAX(CASE WHEN [DL].[Key] = 'EN' THEN [PV2].[Text] END) [EN]
		FROM [rtds].[PromptVersion] [PV2]
			JOIN [rtds].[Dic_PromptLanguage] [DL] ON [DL].[DicPromptLanguageID] = [PV2].[DicPromptLanguageID]
		WHERE [PV2].[PromptID] = [PR].[PromptID]
				AND [PV2].[Text] IS NOT NULL
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		  )										[Value],
		ISNULL([PV_ANY].[DateUpdated], [PV_ANY].[DateCreated])	[MutationDate]
	FROM [RTCPP]
		JOIN [rtds].[Operation] [OP] ON [OP].[RoutingTableID] = [RTCPP].[RoutingTableID]
			JOIN [rtds].[Dic_OperationType] [DOP] ON [DOP].[DicOperationTypeID] = [OP].[DicOperationTypeID]
										AND [DOP].[Name] = 'PlayPrompt'
			JOIN [rtds].[Attribute] [AT] ON [AT].[OperationID] = [OP].[OperationID]
				JOIN [rtds].[Dic_Attribute] [DAT] ON [DAT].[DicAttributeID] = [AT].[DicAttributeID]
										AND [DAT].[Name] = 'Prompt'
		LEFT JOIN [rtds].[Prompt] [PR] ON [PR].[PromptLibraryID] = [RTCPP].[PromptLibraryID]
								AND [PR].[Name] = [AT].[Value]
    OUTER APPLY (SELECT TOP 1 [DateUpdated], [DateCreated]
        FROM   [rtds].[PromptVersion]
        WHERE  [PromptID] = [PR].[PromptID]
        ORDER BY ISNULL([DateUpdated], [DateCreated]) DESC
    ) [PV_ANY]
)
,[ALL] AS (
    SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [RT]
    UNION
    SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [OP]
    UNION
    SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [AT]
    UNION
    SELECT [SourceId], [Path], [Attribute], [Value], [MutationDate] FROM [TTS]
)

SELECT *
FROM [ALL]
WHERE SourceId = '+3281801448'
--ORDER BY [Path], [Attribute]
GO
/****** Object:  Table [rtds].[Attribute_tmp]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Attribute_tmp](
	[AttributeID] [int] NOT NULL,
	[DicAttributeID] [int] NOT NULL,
	[OperationID] [int] NOT NULL,
	[Value] [varchar](512) NOT NULL,
	[IsDisplayed] [bit] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[ConfigHistory_tmp]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[ConfigHistory_tmp](
	[ConfigHistoryID] [int] NOT NULL,
	[SourceID] [varchar](50) NOT NULL,
	[OperationKey] [nvarchar](255) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[PublishDateUTC] [datetime2](3) NOT NULL,
	[EndDateUTC] [datetime2](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Dic_AttributeType]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_AttributeType](
	[DicAttributeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_AttributeType] PRIMARY KEY NONCLUSTERED 
(
	[DicAttributeTypeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[Dic_PromptApplication]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[Dic_PromptApplication](
	[DicPromptApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[FilePrefix] [varchar](50) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[DateUpdated] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Dic_PromptApplication] PRIMARY KEY NONCLUSTERED 
(
	[DicPromptApplicationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[z_AttributeLogging]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[z_AttributeLogging](
	[InteractionIdKey] [char](18) NOT NULL,
	[SeqId] [int] NOT NULL,
	[SourceID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Value] [nvarchar](255) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AttributeLogging] PRIMARY KEY CLUSTERED 
(
	[InteractionIdKey] ASC,
	[SeqId] ASC,
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rtds].[z_FlowLogging]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rtds].[z_FlowLogging](
	[InteractionIdKey] [char](18) NOT NULL,
	[SeqId] [int] NOT NULL,
	[SourceID] [varchar](50) NOT NULL,
	[StartDateTimeUTC] [datetime2](3) NOT NULL,
	[OperationKey] [nvarchar](255) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FlowLogging] PRIMARY KEY CLUSTERED 
(
	[InteractionIdKey] ASC,
	[SeqId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [rtds].[Attribute] ADD  CONSTRAINT [DF_Attribute_IsDisplayed]  DEFAULT ((0)) FOR [IsDisplayed]
GO
ALTER TABLE [rtds].[Attribute] ADD  CONSTRAINT [DF_Attribute_IsEditable]  DEFAULT ((0)) FOR [IsEditable]
GO
ALTER TABLE [rtds].[Attribute] ADD  CONSTRAINT [DF_Attribute_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Attribute] ADD  CONSTRAINT [DF_Attribute_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_Attribute] ADD  CONSTRAINT [DF_Dic_Attribute_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_Attribute] ADD  CONSTRAINT [DF_Dic_Attribute_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_AttributeType] ADD  CONSTRAINT [DF_Dic_AttributeType_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_AttributeType] ADD  CONSTRAINT [DF_Dic_AttributeType_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_CompanyProject] ADD  CONSTRAINT [DF_DicCompanyProject_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_CompanyProject] ADD  CONSTRAINT [DF_DicCompanyProject_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_OperationType] ADD  CONSTRAINT [DF_Dic_OperationType_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_OperationType] ADD  CONSTRAINT [DF_Dic_OperationType_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_PromptApplication] ADD  CONSTRAINT [DF_Dic_PromptApplication_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_PromptApplication] ADD  CONSTRAINT [DF_Dic_PromptApplication_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Dic_PromptLanguage] ADD  CONSTRAINT [DF_Dic_PromptLanguage_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Dic_PromptLanguage] ADD  CONSTRAINT [DF_Dic_PromptLanguage_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Operation] ADD  CONSTRAINT [DF_Operation_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Operation] ADD  CONSTRAINT [DF_Operation_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[Prompt] ADD  CONSTRAINT [DF_Prompt_IsDisplayed]  DEFAULT ((0)) FOR [IsDisplayed]
GO
ALTER TABLE [rtds].[Prompt] ADD  CONSTRAINT [DF_Prompt_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Prompt] ADD  CONSTRAINT [DF_Prompt_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[PromptLibrary] ADD  CONSTRAINT [DF_PromptLibrary_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[PromptLibrary] ADD  CONSTRAINT [DF_PromptLibrary_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[PromptVersion] ADD  CONSTRAINT [DF_PromptVersion_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[PromptVersion] ADD  CONSTRAINT [DF_PromptVersion_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[RoutingTable] ADD  CONSTRAINT [DF_RoutingTable_PromptLibraryID]  DEFAULT ((0)) FOR [PromptLibraryID]
GO
ALTER TABLE [rtds].[RoutingTable] ADD  CONSTRAINT [DF_RoutingTable_SupportLanguages]  DEFAULT ('NL|FR') FOR [SupportedLanguages]
GO
ALTER TABLE [rtds].[RoutingTable] ADD  CONSTRAINT [DF_RoutingTable_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[RoutingTable] ADD  CONSTRAINT [DF_RoutingTable_CreatedBy]  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [rtds].[z_AttributeLogging] ADD  CONSTRAINT [DF_AttributeLogging_DateCreated]  DEFAULT ([util].[fn_getDateTimeCentralEuropean]()) FOR [DateCreated]
GO
ALTER TABLE [rtds].[Attribute]  WITH CHECK ADD  CONSTRAINT [FK_Attribute_DicAttributeID] FOREIGN KEY([DicAttributeID])
REFERENCES [rtds].[Dic_Attribute] ([DicAttributeID])
GO
ALTER TABLE [rtds].[Attribute] CHECK CONSTRAINT [FK_Attribute_DicAttributeID]
GO
ALTER TABLE [rtds].[Attribute]  WITH CHECK ADD  CONSTRAINT [FK_Attribute_OperationID] FOREIGN KEY([OperationID])
REFERENCES [rtds].[Operation] ([OperationID])
GO
ALTER TABLE [rtds].[Attribute] CHECK CONSTRAINT [FK_Attribute_OperationID]
GO
ALTER TABLE [rtds].[Dic_Attribute]  WITH CHECK ADD  CONSTRAINT [FK_Dic_Attribute_DicAttributeTypeID] FOREIGN KEY([DicAttributeTypeID])
REFERENCES [rtds].[Dic_AttributeType] ([DicAttributeTypeID])
GO
ALTER TABLE [rtds].[Dic_Attribute] CHECK CONSTRAINT [FK_Dic_Attribute_DicAttributeTypeID]
GO
ALTER TABLE [rtds].[Dic_Attribute]  WITH CHECK ADD  CONSTRAINT [FK_Dic_Attribute_DicOperationTypeID] FOREIGN KEY([DicOperationTypeID])
REFERENCES [rtds].[Dic_OperationType] ([DicOperationTypeID])
GO
ALTER TABLE [rtds].[Dic_Attribute] CHECK CONSTRAINT [FK_Dic_Attribute_DicOperationTypeID]
GO
ALTER TABLE [rtds].[Operation]  WITH CHECK ADD  CONSTRAINT [FK_Operation_DicOperationTypeID] FOREIGN KEY([DicOperationTypeID])
REFERENCES [rtds].[Dic_OperationType] ([DicOperationTypeID])
GO
ALTER TABLE [rtds].[Operation] CHECK CONSTRAINT [FK_Operation_DicOperationTypeID]
GO
ALTER TABLE [rtds].[Operation]  WITH CHECK ADD  CONSTRAINT [FK_Operation_RoutingTableID] FOREIGN KEY([RoutingTableID])
REFERENCES [rtds].[RoutingTable] ([RoutingTableID])
GO
ALTER TABLE [rtds].[Operation] CHECK CONSTRAINT [FK_Operation_RoutingTableID]
GO
ALTER TABLE [rtds].[Prompt]  WITH CHECK ADD  CONSTRAINT [FK_Prompt_DicPromptApplicationID] FOREIGN KEY([DicPromptApplicationID])
REFERENCES [rtds].[Dic_PromptApplication] ([DicPromptApplicationID])
GO
ALTER TABLE [rtds].[Prompt] CHECK CONSTRAINT [FK_Prompt_DicPromptApplicationID]
GO
ALTER TABLE [rtds].[Prompt]  WITH CHECK ADD  CONSTRAINT [FK_Prompt_PromptLibraryID] FOREIGN KEY([PromptLibraryID])
REFERENCES [rtds].[PromptLibrary] ([PromptLibraryID])
GO
ALTER TABLE [rtds].[Prompt] CHECK CONSTRAINT [FK_Prompt_PromptLibraryID]
GO
ALTER TABLE [rtds].[PromptLibrary]  WITH CHECK ADD  CONSTRAINT [FK_PromptLibrary_CompanyProjectID] FOREIGN KEY([CompanyProjectID])
REFERENCES [rtds].[Dic_CompanyProject] ([CompanyProjectID])
GO
ALTER TABLE [rtds].[PromptLibrary] CHECK CONSTRAINT [FK_PromptLibrary_CompanyProjectID]
GO
ALTER TABLE [rtds].[PromptVersion]  WITH CHECK ADD  CONSTRAINT [FK_PromptVersion_DicPromptLanguageID] FOREIGN KEY([DicPromptLanguageID])
REFERENCES [rtds].[Dic_PromptLanguage] ([DicPromptLanguageID])
GO
ALTER TABLE [rtds].[PromptVersion] CHECK CONSTRAINT [FK_PromptVersion_DicPromptLanguageID]
GO
ALTER TABLE [rtds].[PromptVersion]  WITH CHECK ADD  CONSTRAINT [FK_PromptVersion_PromptID] FOREIGN KEY([PromptID])
REFERENCES [rtds].[Prompt] ([PromptID])
GO
ALTER TABLE [rtds].[PromptVersion] CHECK CONSTRAINT [FK_PromptVersion_PromptID]
GO
ALTER TABLE [rtds].[RoutingTable]  WITH CHECK ADD  CONSTRAINT [FK_RoutingTable_CompanyProjectID] FOREIGN KEY([CompanyProjectID])
REFERENCES [rtds].[Dic_CompanyProject] ([CompanyProjectID])
GO
ALTER TABLE [rtds].[RoutingTable] CHECK CONSTRAINT [FK_RoutingTable_CompanyProjectID]
GO
ALTER TABLE [rtds].[RoutingTable]  WITH CHECK ADD  CONSTRAINT [FK_RoutingTable_PromptLibraryID] FOREIGN KEY([PromptLibraryID])
REFERENCES [rtds].[PromptLibrary] ([PromptLibraryID])
GO
ALTER TABLE [rtds].[RoutingTable] CHECK CONSTRAINT [FK_RoutingTable_PromptLibraryID]
GO
/****** Object:  StoredProcedure [rtds].[sp_AddHistory]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************/
/*************************** CREATE STORED PROCUDURES ****************************/
/*********************************************************************************/


/************************ StoredProcedure [rtds].[sp_AddHistory] ************************/

-- =============================================================================
-- Author: Edward de Wit
-- Create date: 24 February 2021
-- Description: Inserts new active RTDS config records and 
--              updates the old active ones in the RTDS Confog History Table
-- =============================================================================
CREATE PROCEDURE [rtds].[sp_AddHistory] 
	@Data nvarchar(max),
	@PublishDate DateTime2(3)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @DataSep CHAR(1) = char(10)
	DECLARE @Start INT, @End INT
	DECLARE @NewConfig NVARCHAR(MAX), @ExistingConfig NVARCHAR(MAX), @SourceId VARCHAR(50), @OperationKey VARCHAR(255) = 'Header'
	DECLARE @IdStart INT, @IdEnd INT

	IF LEFT(@Data,6) = 'DELETE'
	BEGIN
		SET @SourceId = REPLACE(@Data, 'DELETE|','')
		UPDATE [rtds].[ConfigHistory] SET [EndDateUTC] = @PublishDate WHERE [SourceID] = @SourceId AND [EndDateUTC] IS NULL
		RETURN 1
	END

    SELECT @Start = 1, @End = CHARINDEX(@DataSep, @Data) 
    WHILE @Start < LEN(@Data) + 1 
	BEGIN 
        IF @End = 0  
            SET @End = LEN(@Data) + 1

		SET @NewConfig = SUBSTRING(@Data, @Start, @End - @Start)

		SET @IdStart = CHARINDEX('"Id"', @NewConfig)
		IF @IdStart > 0
		BEGIN
			SET @IdStart = @IdStart + 6
			SET @OperationKey = SUBSTRING(@NewConfig, @IdStart, CHARINDEX('"', @NewConfig, @IdStart)-@IdStart)
		END
		ELSE
		BEGIN
			SET @IdStart = CHARINDEX('"SourceId"', @NewConfig) + 12
			SET @SourceId = SUBSTRING(@NewConfig, @IdStart, CHARINDEX('"', @NewConfig, @IdStart)-@IdStart)

			SELECT [OperationKey], [Data] 
			INTO [#CurrentOperationKeys]
			FROM [rtds].[ConfigHistory]
			WHERE [SourceId]=@SourceId AND [EndDateUTC] IS NULL
		END
		 
		SELECT @ExistingConfig=[Data] FROM [#CurrentOperationKeys] WHERE [OperationKey] = @OperationKey
		IF @ExistingConfig IS NULL
		BEGIN
			INSERT INTO [rtds].[ConfigHistory] ([SourceID], [OperationKey], [Data], [PublishDateUTC]) VALUES (@SourceId, @OperationKey, @NewConfig, @PublishDate)
		END
		ELSE IF @ExistingConfig <> @NewConfig
		BEGIN
			UPDATE [rtds].[ConfigHistory] SET [EndDateUTC] = @PublishDate WHERE [SourceID] = @SourceId AND [OperationKey] = @OperationKey AND [EndDateUTC] IS NULL
			INSERT INTO [rtds].[ConfigHistory] ([SourceID], [OperationKey], [Data], [PublishDateUTC]) VALUES (@SourceId, @OperationKey, @NewConfig, @PublishDate)
		END
		DELETE FROM [#CurrentOperationKeys] WHERE [OperationKey] = @OperationKey
    
		SET @Start = @End + 1 
		SET @End = CHARINDEX(@DataSep, @Data, @Start)
	END 

	UPDATE [rtds].[ConfigHistory] SET [EndDateUTC] = @PublishDate WHERE [SourceID] = @SourceId AND [OperationKey] IN ( SELECT [OperationKey] FROM [#CurrentOperationKeys])
	DROP TABLE [#CurrentOperationKeys]

END
GO
/****** Object:  StoredProcedure [rtds].[sp_AddIVRLog]    Script Date: 9/06/2026 13:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- Author: Edward de Wit
-- Create date: 19 February 2021
-- Description: Inserts IVR Logging from  
--              updates the old active ones in the RTDS Confog History Table
-- =============================================================================
CREATE PROCEDURE [rtds].[sp_AddIVRLog] 
	@InteractionIdKey CHAR(18),
	@Seq INT,
	@Data NVARCHAR(max)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @LogSep CHAR(1) = '|'
	DECLARE @Start INT, @End INT, @Pos INT
	DECLARE @Log nvarchar(MAX), @Params nvarchar(MAX)
	DECLARE @SourceId VARCHAR(50)
	DECLARE @OperationKey VARCHAR(255)
	DECLARE @IdStart INT, @IdEnd INT
	DECLARE @DT DATETIME2(3)

    SELECT @Start = 1, @end = CHARINDEX(@LogSep, @Data) 
    WHILE @Start < LEN(@Data) + 1 
	BEGIN 
		IF @End = 0  
            SET @End = LEN(@Data) + 1

		SET @Log = SUBSTRING(@Data, @Start, @End - @Start)
		
		SET @DT = DATETIMEFROMPARTS(
			CAST(SUBSTRING(@Log,1,4) AS INT),
			CAST(SUBSTRING(@Log,5,2) AS INT),
			CAST(SUBSTRING(@Log,7,2) AS INT),
			CAST(SUBSTRING(@Log,9,2) AS INT),
			CAST(SUBSTRING(@Log,11,2) AS INT),
			CAST(SUBSTRING(@Log,13,2) AS INT),
			0
		)

		SET @Log = SUBSTRING(@Log, 17, LEN(@Log)-16)

		IF @Start = 1
		BEGIN
			SET @SourceId = @Log
		END
		ELSE
		BEGIN
			SET @Pos = CHARINDEX(',', @Log)
			IF @Pos > 0
			BEGIN
				SET @OperationKey = LEFT(@Log, @Pos-1)
				SET @Params = SUBSTRING(@Log, @Pos + 1, LEN(@Log)-@Pos)
			END
			ELSE
			BEGIN
				SET @OperationKey = @Log
				SET @Params = ''
			END

			--PRINT @InteractionIdKey + ' ' + @SourceId + ' ' + CAST(@DT AS VARCHAR) + ' ' + CAST(@Seq AS VARCHAR) + ' ' + @OperationKey + ' ' + @Params

			INSERT INTO [rtds].[FlowLogging]
			([InteractionIdKey], [SourceID], [StartDateTimeUTC], [SeqId], [OperationKey], [Data])
			VALUES (@InteractionIdKey, @SourceId, @DT, @Seq, @OperationKey, @Params)

			SET @Seq = @Seq + 1
		END

	    SET @Start = @End + 1 
        SET @End = CHARINDEX(@LogSep, @Data, @Start)
    END 
END
GO
